@font-face {
  font-family: 'Sansation';
  src: url('./sansation-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('./sansation-bold.ttf') format('ttf');
  font-weight: 600;
  font-style: bold;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Sansation', sans-serif;
  font-weight: 400;
  background: url(./background/mthood.jpg);
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  gap: 50px;
  padding: 30px;
  background: rgba(226, 237, 240, 0.75);
  border-radius: 8px;
}

#left,
#right {
  display: flex;
  flex-direction: column;
}

#location {
  margin-bottom: 50px;
}

h1 {
  font-size: 28px;
}

#temp-convert {
  margin-left: 70%;
  margin-bottom: -45px;
  z-index: 1;
}

button.c {
  background: url(./icon/fahrenheit.svg);
  width: 75px;
  height: 75px;
  border: none;
  cursor: pointer;
}

button.f {
  background: url(./icon/celsius.svg);
  width: 75px;
  height: 75px;
  border: none;
  cursor: pointer;
}

#search-btn {
  background: url(./icon/search-world.svg);
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
}

p,
form {
  font-size: 20px;
  font-weight: 550;
}

p {
  margin: 5px 0 5px 40px;
}

#city-search {
  margin-top: auto;
  margin-bottom: 18.76px;
}

form input {
  height: 25px;
  font-size: 20px;
}

img {
  width: 250px;
  height: auto;
}

#description {
  text-align: center;
  margin-bottom: 13.76px;
}

footer {
  bottom: 0px;
  position: absolute;
  margin-left: 20%;
  margin-bottom: 5px;
  padding: 5px;
  background: rgba(226, 237, 240, 0.7);
  text-align: center;
}
